.task {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rebeccapurple;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: #e27423;
}

.task input {
  margin: 1rem;
}
.input:hover {
  background-color: black;
}
.task button {
  margin: 1rem;
  height: auto;
  background-color: #3c3c3c;
  border-radius: 4px;
  color: #e27423;
}
.strike {
  text-decoration: line-through;
}
.bar {
  margin: 1rem;
  padding: 0.5rem;
  /* width: 10rem; */
  background-color: #e27423;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
